.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.left {
    width: 40%;
    margin: auto 0;
}

.right {
    padding: 10px;
    text-align: center;
    width: 60%;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 15px;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

h2 {
    color: tomato;
}

.timer>h2 {
    font-size: 50px;
}

p {
    color: gray;
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
}

.box>p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: tomato;
}

.box>span {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-transform: uppercase;
    color: gray;
}

#show{
    display: none;
}
@media screen and (max-width: 1000px) {
    .left {
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    .right {
        width: 100%;
        margin: 10px;
    }

    img {
        max-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    
    .box>p {
        font-size: 40px;
    }
    .box{
        width: 100px;
    }
}